.content {
  border: 5px solid rebeccapurple;
  background-color: lightgray;
  min-height: 700px;
  justify-content: center;
  width: 90%;
  margin-left: 5%;
}
.box {
  text-align: center;
}
.getData {
  height: 40px;
  width: 130px;
  border-radius: 10px;
  background-color: bisque;
  margin: 10px;
}
.getData:hover {
  background-color: aqua;
  cursor: pointer;
}
.placeholder {
  margin: 0;
}
.wykres {
  width: 80%;
  max-height: 400px;
  margin-left: 10%;
}
.tabela {
  width: 80%;
  margin-left: 10%;
}
table,
th,
td {
  border: 1px solid black;
}
tr:nth-child(even) {
  background-color: #d6eeee;
}
.tabWraper {
  margin-left: 20%;
  margin-right: 20%;
  justify-items: center;
}
.graf {
  margin-left: 32.5%;
  height: 40%;
  width: 35%;
}
.TextBlock {
}
