body {
  margin: 0;
  background-color: rgb(227, 235, 235);
}
table,
th,
tr {
  border: 1px solid black;
}
th {
  min-width: 30px;
}
tr:nth-child(even) {
  background-color: #d6eeee;
}
.box {
  display: grid;
  justify-items: center;
}
.TextBlock {
  border: 2px solid rgb(108, 159, 207);
  width: 80%;
  margin: 30px;
  padding: 5px;
}
.content {
  border: 5px solid rebeccapurple;
  background-color: lightgray;
  min-height: 750px;
  min-width: 850px;
  display: grid;
  justify-items: center;
}

.placeholder {
  margin: 0;
}
.wykres {
  max-height: 300px;
}

.tabWraper {
  margin-top: 25px;
}
.graf {
  max-width: 400px;
}

.getData {
  height: 40px;
  width: 130px;
  border-radius: 10px;
  background-color: bisque;
  margin: 10px;
}
.getData:hover {
  background-color: aqua;
  cursor: pointer;
}
